
@media screen and (max-width: 768px) 
{
    #nav_toggler {
        display: block;
    }
    #navbar li:not(:first-child){
        display: none;
    }
    #navbar {
        padding: 0;
    }
    #header-logo {
        width: 154px;
    }
    #search_container {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    #center-logo {
        width: 225px;
        margin-top: 85px;
    }
    #contact-block {
        flex-direction: column-reverse;
    }
    #contact-block div:nth-child(2) {
        margin-left: unset;
    }
    #subscribe_bar li a img {
        width: 30px;
        height: auto;
    }
    #contact_form > div {
        flex-direction: column;
    }
    #contact_form textarea {
        margin-left: unset;
    }
    #contact_form > div div {
        width: 100%;
    }
    .item-wrapper {
        flex-direction: column;
    }
    .item-wrapper div:first-child {
        width: unset;
    }
    .item_div {
        width: unset;
    }
    .item_div > div {
        margin-top: 80px;
    }
    footer ul li a img {
        display: none;
    }
    footer ul {
        flex-direction: column;
    }
    footer ul li {
        padding: unset;
    }
    footer ul li p {
        margin: 0;
        font-size: 13px;
    }
    .lesson-block {
        margin-bottom: 8%;
    }
    .small_line_spacing {
        font-size: initial;
    }
    .training-info p {
        font-weight: bold;
    }
}