@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    #nav_toggler {
        display: block;
    }
    #navbar li:not(:first-child){
        display: none;
    }
    #navbar {
        padding: 0;
    }
    #header-logo {
        width: 154px;
    }
    #search_container {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    footer ul li a img {
        display: none;
    }
    footer ul {
        flex-direction: column;
    }
    footer ul li {
        padding: 0;
    }
    footer ul li p {
        margin: 0;
        font-size: 13px;
    }
    #contact_form > div {
        flex-direction: column;
    }
    #contact_form textarea {
        margin-left: 0;
    }
    #message-error {
        margin-left: 0;
    }
    #contact_form > div div {
        width: 100%;
    }
    #contact_form input, textarea {
        border: 2px solid #808285;
    }
    .item-wrapper {
        flex-direction: column;
    }
    .item-wrapper div:first-child {
        width: 100%;
        height: 100%;
    }
    .item_div {
        width: 100%;
        margin-left: 0;
    }
    .item_div > div {
        margin-top: 80px;
    }
    .item_name {
        margin-top: 30px;
    }
    .lesson-block {
        margin-bottom: 8%;
    }
}
@media screen and (max-width: 576px) {
    #contact-block {
        flex-direction: column-reverse;
    }
    #contact-block div:nth-child(2) {
        margin-left: 0;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    #contact-block > div > div {
        display: inline-block;
    }
    #subscribe_bar > li > a > img {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 425px) {
    #center-logo {
        width: 100%;
        margin-top: 38%;
    }
    #subscribe_bar li a img {
        width: 30px;
        height: auto;
    }
    .lesson-block {
        margin-bottom: 8%;
    }
    .lesson-block p {
        font-size: initial;
    }
    .training-info p {
        font-weight: bold;
    }
    .lesson-block {
        margin-bottom: 18%;
    }
    .about_img {
        float: none;
        width: 100%;
    }
}