#navbar {
    list-style-type: none;
    font-family: MinionPro-Regular;
}
.content_name {
    font-family: MinionPro-Regular;
    font-weight: bold;
    text-align: center;
    color: #ffc34d;
}
.consult_name, .price, .training_name, .publication_name {
    font-family: MinionPro-Regular;
    font-weight: bold;
    color: #ffc34d;
}
#navbar li {
    float: left;
}
#navbar li a {
    display: block;
    text-align: center;
    padding: 16px;
    color: #ffc34d;
    text-decoration: none;
}

footer ul{
    list-style-type: none;
    font-family: MinionPro-Regular;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
footer ul li {
    padding: 16px;
    display: inline-block;
}
footer ul li a img {
    width: 40%;
    height: auto;
}
@font-face {
    font-family: MinionPro-Regular;
    src: url("fonts/MinionPro-Regular.otf") format("opentype");
}
#contact_form input, textarea {
    font-family: MinionPro-Regular;
    width: 100%;
    border: 2px solid grey;
}
input[name="lastname"] {
    margin-top: 15px;
}
input[name="email"] {
    margin-top: 15px;
}
#contact_form input[type="submit"] {
    margin-top: 15px;
    background-color:white;
    font-size: 25px;
    font-weight: bold;
    color: grey;
    font-family: MinionPro-Regular  ;
}
#search_container input {
    border: 1px solid grey;
}
#search_container {
    float: right;
}
.left_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.right_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.consult_div, .publication_div {
    height: 265px;
}
.buy_button, .read_button {
    background-color:white;
    font-size: 15px;
    color: grey;
    font-family: MinionPro-Regular  ;
}
.center_consult_img, .center_publication_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small_line_spacing {
    font-size:11.5px;
    line-height:8px;
}
#subscribe_bar {
    list-style-type: none;
    float: left;
    padding: 0;
}

#subscribe_bar > li {
    float: left;
}
#subscribe_bar > li > a > img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.custom_hr {
    width:1170px;
    height:auto;
    padding-left:15px;
    padding-right:15px;
    margin-top: 50px;
    margin-bottom: 50px;
}