@font-face {
    font-family: MinionPro-Regular;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/MinionPro-Regular.otf") format("woff2");
}
body {
    font-family: MinionPro-Regular;
    margin:3em;
}
#body_with_background {
    background: url('img/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content_name {
    font-weight: bold;
    text-align: center;
    color: #f5b01c;
}
.consult_name, .price, .training_name, .publication_name {
    font-weight: bold;
    color: #f5b01c;
}
footer ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
footer ul li {
    padding: 16px;
    display: inline-block;
}
footer ul li a img {
    width: 40%;
    height: auto;
}
#contact_form input, textarea {
    width: 100%;
    border: 2px solid #808285;
}
input[name="lastname"] {
    margin-top: 15px;
}
input[name="email"] {
    margin-top: 15px;
}
#contact_form input[type="submit"] {
    margin-top: 15px;
    background-color:white;
    font-size: 25px;
    font-weight: bold;
    color: #808285;
}
#search_container input[type="search"] {
    border: 1px solid #808285;
    background: transparent;
}
#search_container {
    position: relative;
    float: right;
    margin-right: 60px;
}
#search_button {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
#navbar {
    margin-top: 14px;
}
.left_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.right_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.consult_div, .publication_div {
    height: 265px;
}
.buy_button, .read_button {
    background-color:white;
    font-size: 15px;
    color: grey;
}
.center_consult_img, .center_publication_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small_line_spacing {
    font-size:11.5px;
    line-height:8px;
}
#subscribe_bar {
    list-style-type: none;
    float: left;
    padding: 0;
}

#subscribe_bar > li {
    float: left;
}
#subscribe_bar > li > a > img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.custom_hr {
    width:1170px;
    height:auto;
    padding-left:15px;
    padding-right:15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    }

.navbar .navbar-collapse {
    text-align: center;
}

/* On focus attribues */
#search_container input:focus {
    box-shadow: unset;
    outline: unset;
    color: #f5b01c;
}

/* Override bootstrap style here*/ 
.navbar {
    border: none;
}
.navbar-default {
    background-color: unset;
}
.navbar-default .navbar-nav>li>a {
    color: #f5b01c;
}
.navbar-collapse {
    border-top:unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.form-control {
    border: unset;
    box-shadow: unset;
}
/* End of overriding */